opencv-python
torch
Pillow
numpy
pyaudio
git+https://github.com/Uberi/speech_recognition
vosk
mediapipe
git+https://github.com/divamgupta/stable-diffusion-tensorflow
git+https://github.com/openai/whisper.git
tensorflow
tensorflow_addons
ftfy
ffmpeg-python
replicate